node_modules/
dist/
dist.**
**/coverage/
**/test-results/
**/.pw-user/
**/.auth/
*.log
.DS_Store
docs/eval**
**.scratch**
.env**
*.crx
*.pem
**.pw**
**.playwright-mcp**
playwright-report/
docs/testing**